.footer {
  display: flex;
  background-color: #1d4044;
  color: #b2f5ea;
  font-size: small;
}
.contact {
  margin: 1em;
}
.contacts {
  font-size: medium;
  font-weight: bold;
}
.social-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  display: flex;
  float: right;
  font-size: medium;
  font-weight: bold;
  margin-top: 1em;
}
.social-icons {
  display: flex;
}
.copyright {
  margin: 9em 0 0 44em;
}
