.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #04030f;
  color: #f4c95d;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.25em;
  border: none;
}
.logo {
  width: 40%;
}
