.navbar {
  width: 100%;
  position: absolute;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #533e0d;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 0.3em;
  border: none;
}
.logo {
  width: 40%;
}
